<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.mcj.org/karel/Karel" 
       class = "org.mcj.karel.karel.KarelPackage"
       genModel = "org/mcj/karel/Karel.genmodel" /> 
	
  </extension>





</plugin>
